<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
  crossorigin="anonymous"
/>

<body>
  <div
    class="h-auto flex flex-col items-center justify-center bg-gray-100 p-5"
  >
    <div
      class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md"
    >
      <div class="mt-4 self-center text-xl sm:text-sm text-gray-1000">
        Enter your Bank Account Information
      </div>

      <div class="mt-10">
        <form action="#">
          <div class="flex flex-col mb-2">
            <label for="CartNumber" class="mb-1 text-xs tracking-wide text-gray-600"
              >Cart Number:</label
            >
            <div class="relative">
              <div
                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
              >
                <i class="fas fa-credit-card text-blue-500"></i>
              </div>

              <input 
              [(ngModel)]="cartNumber"
               
                id="cartNumber"
                type="text"
                name="cartNumber"
                class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                placeholder="Enter your Cart Number"
              />
            </div>
          </div>
          <div class="flex flex-col mb-2">
            <label for="cartNumber" class="mb-1 text-xs tracking-wide text-gray-600"
              >Cart Name:</label
            >
            <div class="relative">
              <div
                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
              >
              <i class="fas fa-font text-blue-500"></i>
            </div>

              <input
              [(ngModel)]="cartName"
                id="cartName"
                type="text"
                name="cartName"
                class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                placeholder="Enter your Cart Name"
              />
            </div>
          </div>
          <div class="flex flex-col mb-2">
            <label
              for="expirationDate"
              class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
              >Expiration Date:</label
            >
            <div class="relative">
              <div
                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
              >
                <span>
                  <i class="fas fa-calendar  text-blue-500"></i>
                </span>
              </div>
                <input
                [(ngModel)]="expirationDate" 
                class="bg-gray-50 border border-gray-300 
                text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700
                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 type="date" id="start" name="trip-start"
                 value="2022-10-13" min="1950-01-01" max="2004-12-31">

            </div>
          </div>

          <div class="flex flex-col mb-2">
            <label
              for="securityCode"
              class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
              >Security Code:</label
            >
            <div class="relative">
              <div
                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
              >
                <span>
                  <i class="fas fa-shield-alt text-blue-500"></i>
                </span>
              </div>

              <input
              [(ngModel)]="securityCode"
                id="securityCode"
                type="text"
                name="securityCode"
                class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                placeholder="Enter Cart Security Code"
              />
            </div>

            
          </div>

          <div class="flex flex-col mb-2">
            <label
              for="ibanNo"
              class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
              >İban No:</label
            >
            <div class="relative">
              <div
                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
              >
                <span>
                  <i class="fas fa-circle text-blue-500"></i>
                </span>
              </div>

              <input
              [(ngModel)]="ibanNo"
                id="ibanNo"
                type="text"
                name="ibanNo"
                class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                placeholder="Enter Cart İban No"
              />
            </div>

            
          </div>

          <div class="flex w-full">
            <button
            (click)="addBankAccountInfo()"
              type="submit"
              class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-500 hover:bg-blue-600 rounded-2xl py-2 w-full transition duration-150 ease-in"
            >
              <span class="mr-2 uppercase">Submit</span>
              <span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
